.error {
  color: var(--light-red);
  height: 100vh;
  display: grid;
  place-items: center;
  letter-spacing: 0.2rem;
  line-height: 1;
}

.loading {
  height: 100vh;
  display: grid;
  place-items: center;
  letter-spacing: 0.2rem;
  line-height: 1;
}
