.wraper {
  padding: 1rem;
  background-color: var(--white);
  width: 100vw;
  border-bottom: 0.5rem solid var(--light-red);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  margin: auto;
}

.logo {
  padding: 0;
  margin: 0;
}

.form > input {
  padding: 0.5rem 0.2rem;
  border-radius: 1rem 0 0 1rem;
  border: 0.2rem solid var(--blue);
  outline: 0;
  line-height: 1;
  font-size: 1.2rem;
  width: 9rem;
}

.form > button {
  padding: 0.5rem 0.2rem;
  border: 0.2rem solid var(--blue);
  border-radius: 0 1rem 1rem 0;
  background-color: var(--blue);
  transition: all 0.3s ease;
}

.form > button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.form > input::placeholder {
  color: var(--blue);
  font-size: 1.7rem;
}

@media screen and (min-width: 360px) {
  .form > input {
    width: 12rem;
    font-size: 1.4rem;
  }
  .form > button {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .form > * {
    font-size: 2rem;
  }

  .form > input {
    width: initial;
  }
}
